/01- aula-operadores/nbproject/private/
/01- aula-operadores/build/
/01- aula-operadores/dist/
/Exercício/nbproject/private/
/Exercício/build/
/exercício 2/nbproject/private/
/exercício 2/build/
/Exercicio1/nbproject/private/
/Exercicio1/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
